**/.terraform.lock.hcl
**/terraform.*
**/terraform.tfstate.backup
**/.terraform
../.aws/
../.bash_history
../.bash_logout
../.bashrc
../.cache/
../.gitconfig
../.lesshst
../.profile
../.ssh/
../.sudo_as_admin_successful
../.vbox_version
../.vim/
../.viminfo
../dip_aws_vm_key.pem
./

